.userNameWrapper, .userInfoWrapper{
  outline: 1px solid black;
}
.userInfoWrapper{
  margin-top: 1px;
}

.userName{
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: 500;
  font-size: 35px;
  line-height: 40px;
  max-width: 100%;
  outline: 1px solid black;
  margin: 0 52px;
  padding: 10px 17px;
}
.userInfoList{
  margin: 1px 52px;
  display: flex;
  padding: 0;
  outline: 1px solid black;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.userInfoItem{
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 17px;
  height: 100%;
  padding: 10px 5px;
  flex: 1 1 auto;
  text-align: center;
  align-items: center;
  &:not(:last-child){
    outline: 1px solid black;
  }
}
