//.ticketPurchased{
//  margin-bottom: 45px;
//}

.ticketsMainTitleContainer{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.ticketsPurchasedTitle {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: 500;
  font-size: 35px;
  line-height: 40px;
}
.ticketsPurchasedTitleGrey{
  color: #E0E0E0;
}